@import './base.css';
@import './scrollbar.css';

body {
  display: flex;
  place-items: center;
}

#app {
  width: 420px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
  grid-template-columns: 1fr 1fr;
}

.checkpoint-button {
  background-color: var(--color-button) !important;
  color: white !important;
  border-radius: 100px !important;
  height: 40px !important;
  padding: 0 20px 0 !important;
  text-transform: none !important;
}

.checkpoint-secondary-button {
  background-color: var(--color-background) !important;
  color: var(--color-button) !important;
  border-radius: 100px !important;
  height: 40px !important;
  padding: 0 20px 0 !important;
  text-transform: none !important;
}

.checkpoint-secondary-button > .v-btn__content {
  font-weight: bold;
}

.checkpoint-lang-button {
  background-color: #efe2bb !important;
  color: var(--color-button) !important;
  border-radius: 100px !important;
  border-radius: 100%;
  height: 48px !important;
  width: 48px !important;
  min-width: 0 !important;
}

.checkpoint-lang-button > .v-btn__content {
  font-weight: bold;
}

.opacity-text {
  opacity: 0.2;
}

.v-card {
  border-radius: 12px !important;
  /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important; */
  background-color: #efe2bb !important;
}

.v-card-title {
  font-size: 16px !important;
  line-height: 1.2 !important;
  white-space: normal !important;
}

.v-card-text {
  padding-bottom: 0 !important;
}

.close-button {
  background-color: transparent !important;
}

.v-list {
  background-color: #fff8ef !important;
}

.v-selection-control .v-label {
  opacity: 1 !important;
}

.v-card-text:not(.v-card-link),
.v-card-title,
.v-card-item,
.v-card-actions,
.v-btn__content {
  pointer-events: none;
}

.v-btn {
  pointer-events: auto;
}

.v-tab.v-tab.v-btn {
  border-radius: 24px !important;
}

.v-tab.v-tab.v-btn .v-btn__content {
  text-transform: none !important;
}

div.v-input__control > div > div.v-field__append-inner > div > button {
  padding-inline: 15px;
}

div.v-input__control > div > div.v-field__prepend-inner > div > button {
  padding-inline: 15px;
}
