@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

#app {
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

.checkpoint-button {
  background-color: #705d0d !important;
  color: white !important;
  border-radius: 100px !important;
  height: 40px !important;
  padding: 0 20px 0 !important;
  text-transform: none !important;
}

.opacity-text {
  opacity: 0.3;
}
